# Curso de Python da Infinity Big Data

In [ ]:
# imports
import pandas as pd

In [ ]:
# le um arquivo csv
df = pd.read_csv('assets/arquivos_csv/Clientes.csv')

In [ ]:

# imprime os tipos das colunas
print("INFO")
df.info()

In [ ]:
# imprime as primeiras 5 linhas ou a quantidade que colocar no parametro
print("HEAD")
df.head(3)

In [ ]:
# imprime as ultimas 5 linhas ou a quantidade que colocar no parametro
print("TAIL")
df.tail(2)

In [ ]:
# imprime a quantidade de linhas e colunas, respectivamente
# ou seja, linhas x colunas
# linha -> df.shape[0]
# coluna -> df.shape[1]
print("SHAPE")
print(df.shape)
linhas = df.shape[0]
colunas = df.shape[1]
print(f"A tabela lida tem {linhas} linhas e {colunas} colunas.")

In [ ]:
# localizar apenas um item
print("LOC")
df.loc[df['state']=='Acre']

In [ ]:
# lcoalizar mais de um item
print("LOC por mais de um item")
states = ['Acre', 'Maranhão']
df.loc[df['state'].isin(states)]

In [ ]:
# localizar por condicao de numero, por exemplo, igual, maior que, menor que

# vai printar as linhas onde o id for maior ou igual a 10 e menor ou igual que 20
# usamos o & para conectar as condicoes 
df.loc[(df['id']>=10) & (df['id']<=20)]

In [ ]:
# selecionar colunas especificas
print("SELECIONAR COLUNAS ESPECIFICAS")
# seleciona as colunas id, first_name e number
campanha_comercial = df[['id','first_name', 'number' ,'state']]

# salva o arquivo como csv
campanha_comercial.to_csv('arquivos_csv/campanha_comercial.csv', index=False)
print("Campanha comercial salva com sucesso!")

In [ ]:
# leitura
df = pd.read_csv('arquivos_csv/Clientes.csv')
# retorna o df
df.info()

In [ ]:
# filtro (dois modos de fazer)
df_estado = df.loc[df['state'] == "Acre"] # passa o estado como parametro no proprio filtro

# define uma variavel com o estado que deseja filtrar
estado_filtro = "Acre"
df_estado_outro = df.loc[df['state'] == estado_filtro] # passa a variavel como parametro e fica mais organizado
# retorna o df
df_estado_outro

In [ ]:
# funcao que pede um estado para filtrar
def filtro_estado(df, estado):
    # valida se existe um df
    if df is None:
        return "Dataframe nulo!"
    # valida de existe o estado no dataframe
    if not (df['state']==estado).any():
        return "Estado não encontrado!"
    else:
        df_estado_funcao = df.loc[df['state']==estado]
        return df_estado_funcao
# chama a funcao
# filtro_estado(df,"Acres")

def filtro_estado_clean(df,estado):
    filtro = df['state']==estado
    if not filtro.any():
        return "Estado não encontrado."
    return df.loc[filtro]
filtro_estado_clean(df,"Acres")

In [ ]:
# filtro com mais de uma opção
df_estados = df.loc[df['state'].isin(['Acre',"Paraná","São Paulo"])]
# define um array de estados
estados_filtro  = ['Acre',"Paraná","São Paulo"]
df_estados2 = df.loc[df['state'].isin(estados_filtro)]
df_estados2

In [ ]:
# subistituindo valores nulos
mensagem_sem_registro = 'Sem registro'
df['number'] = df['number'].fillna(mensagem_sem_registro)

df['street'] = df['street'].fillna(mensagem_sem_registro)

df['email'] = df['email'].fillna(mensagem_sem_registro)

df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Testwe,Jesus,Sem registro,9 9102-7834,Brasil,Acre,Sem registro,Sem registro,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,Sem registro,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Sem registro,Sem registro,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,Sem registro,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,Sem registro,Sem registro,NaN
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97,2018-07-04 18:45:41,Testwe,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

In [ ]:
# replace - para substituir valores

# vai substituir o Brasil por Itália
df['country'] = df['country'].replace(
    to_replace="Brasil",
    value="Itália"
)
# retorna o df
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Testwe,Jesus,Sem registro,9 9102-7834,Itália,Acre,Sem registro,Sem registro,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,Sem registro,9 7328-8718,Itália,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Itália,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Itália,Mato Grosso,Sem registro,Sem registro,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,Sem registro,9 3093-6522,Itália,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Itália,NaN,Sem registro,Sem registro,NaN
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Itália,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97,2018-07-04 18:45:41,Testwe,Góes,marta@teste.com,9 4102-4352,Itália,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Itália,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Itália,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22